# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build files
dist/
build/
.vite/
.vercel/
.env
.env.local
.env.development
.env.production
.env.test

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Cache
.cache/
.next/
coverage/
tmp/

# Editor settings
.vscode/
.idea/
*.swp

# OS junk
*.bak
*.tmp
